.scheduleDates{
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-right: 2px;
    margin-top: 2px;
    padding-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
#calResutl{
    margin-top: 80px;
    text-align: center;
}
#submitForm{
    width: 200px;
    padding: 15px;
}
